html {
	position: flex;
	margin: 0;
	padding: 0;
	font-family: 'Nunito Sans', sans-serif;
}

body {
	width: 100%;
	font-family: 'Nunito Sans', sans-serif;
	padding: 0 !important;
}

/*********************************
construction page styles
**********************************/

.construction {
    background: black;
    background-size: cover;
    height: 100vh;
		position: fixed;
		width: 100%;
}

.construction-section {
    display: flex;
    align-items: center;
    text-align: center;
    color: white;
    height: 90vh;
}

.large-logo {
    width: 70%;
    display: block;
    margin: auto;
}

/**********************************
global styles
**********************************/
a {
	color: rgba(250, 175, 58, 1.0);
}

a:hover {
	color: white;
	text-decoration: none;
}

h1 {
	margin: 0;
	font-family: 'Poppins', sans-serif;
}

.white {
	color: white;
	background-color: rgba(14, 17, 17, 0.7);
}

.fadeIn{
	animation-delay: 1s;
	animation-timing-function: ease-in;
}
.row {
	margin-top: 5rem;
}

.about-section-1 {
	font-size: 20px;
	font-weight: bold;
}

.sub-title {
	color: white;
	font-size: 40px;
}

@media only screen and (max-width: 768px) {
	.sub-title {
		font-size: 30px;
	}
}

.fadeInLeft {
	animation-duration: 1s;
	animation-timing-function: ease-in;
}

.fadeInDown {
	animation-duration: 2s;
}

.delay {
	animation-delay: 2s;
}

.fade-delay {
	animation-delay: 2s;
}

.fade-delay-long {
	animation-delay: 3s;
}

.no-top-margin {
	margin-top: 0;
}

@media only screen and (max-width: 768px) {
	.zero-padding {
		padding: 0;
	}
}


/**********************************
button styles
**********************************/

.btn-info {
	background-color: rgba(250, 175, 58, 1.0) !important;
	margin-right: 4px;
	border: none;
	color: black;
}

.btn-default {
	background-color: black !important;
	border: none;
	color: white;
}

.btn-default .dark-button {
	background: rgba(0, 0, 0, .7);
	color: rgba(251, 160, 52, 1.0);
	font-sixe: 50px;
}

.clear-button {
	background: none;
	border: 3px solid white;
	padding: 10px 30px;
	font-size: 20px;
	color: white;
	margin: 10px 0;
	display: inline-block;
	position: relative;
	transition:color 0.5s ease;
	text-transform: uppercase;
}

.clear-button:hover {
  color:black;
}

.clear-button:after {
  position: absolute;
  content: '';
  top:0;
  left: 0;
  width: 0;
  height: 100%;
  background-color: white;
  transform-origin:left;
  transition:width 0.5s ease;
  z-index:-1;
}

.clear-button:hover:after {
  width: 100%;
}

.btn-default:hover {
	color: rgba(250, 175, 58, 1.0);
}

.fa-send:before, .fa-paper-plane:before {
	padding: 3px;
}

.btn-primary {
	background: rgba(251, 160, 52, 0.7);
	color: black;
	font-size: 50px;
	border-radius: 0;
}

.btn-primary:hover {
	color: white;
}

.fa-minus-circle:before {
	padding: 3px;
}

/**********************************
navbar styles
**********************************/

@media only screen and (max-width: 768px) {
	.container-fluid>.navbar-collapse, .container-fluid>.navbar-header, .container>.navbar-collapse, .container>.navbar-header {
		margin-left: 0;
		margin-right: 0;
	}
}



nav.navbar {
	-webkit-transition: all 500ms ease;
	-moz-transition: all 500ms ease;
	-ms-transition: all 500ms ease;
	-o-transition: all 500ms ease;
	transition: all 500ms ease;
}

.navbar-default {
	margin-bottom: 5rem;
	background: transparent;
	border-radius: 0;
	border: none;
	height: auto;
	font-family: 'Poppins', sans-serif;
}

.navbar-inverse {
	margin-bottom: 5rem;
	background: white;
	border-radius: 0;
	border: none;
	line-height: 5rem;
	font-family: 'Poppins', sans-serif;
  box-shadow: 0 0 15px rgba(0,0,0,0.6);
}

.navbar-inverse .home-logo {
	height: 110px;
	margin: 0;
}

.navbar-inverse .container-fluid {
	padding-left: 0;
}

.navbar-toggle {
	margin: 20px 10px 20px 0;
	padding: 10px;
  border: none;
  background: transparent !important;
}
.navbar-toggle:hover {
	background: transparent !important;
}
.navbar-toggle .icon-bar {
	transition: ease 0.2s;
}
.navbar-toggle .top-bar {
	transform: rotate(45deg);
	transform-origin: 10% 10%;
}
.navbar-toggle .middle-bar {
	opacity: 0;
}
.navbar-toggle .bottom-bar {
	transform: rotate(-45deg);
	transform-origin: 10% 90%;
}
.navbar-toggle.collapsed .top-bar {
	transform: rotate(0);
}
.navbar-toggle.collapsed .middle-bar {
	opacity: 1;
}
.navbar-toggle.collapsed .bottom-bar {
	transform: rotate(0);
}

.navbar-default .navbar-toggle .icon-bar {
	background-color: #ffcb00;
}

.navbar-inverse .navbar-toggle .icon-bar {
	background-color: #ffcb00;
}

.navbar-inverse .navbar-nav>li>a {
	font-family: 'Nunito Sans', sans-serif;
	color: black;
	font-size: 20px;
}

.navbar-default .navbar-nav>li>a {
	font-family: 'Nunito Sans', sans-serif;
	color: white;
	font-size: 20px;
}


@media only screen and (min-width: 768px) {
	.navbar-default .navbar-nav>li>a:hover {
	  color: #ffcb00;
		transition:width 0.5s ease;
	}

	/*.navbar-default .navbar-nav>li>a:after {
	  position: absolute;
	  content: '';
	  top:0;
	  left: 0;
	  width: 0;
	  height: 100%;
	  background-color: white;
	  transform-origin:left;
	  transition:width 0.5s ease;
	  z-index:-1;
	}

	.navbar-default .navbar-nav>li>a:hover:after {
	  width: 100%;
	}

	.navbar-default .navbar-nav>li>a:hover:after {
		width: 100%;
		background: white;
	}*/

	.navbar-default .navbar-nav>li>a {
		padding: 25px 30px;
		margin-top: 25px;
	}
}

@media only screen and (min-width: 768px) {
	.navbar-inverse .navbar-nav>li>a {
		padding: 25px 30px;
		margin-top: 25px;
	}
}

.logo-small {
	height: 80px;
}

.home-logo {
	height: 70px;
	margin: 10px 0 10px 20px;
}

@media only screen and (max-width: 769px)
{
	.navbar-collapse {
		background: white;
		width: 100%;
	}

	.navbar-default .navbar-nav>li>a {
		color: black;
	}
}

/**********************************
home specific styles
**********************************/

.star-background {
	background-size: cover;
	height: 70vh;
	position: fixed;
	width: 100%;
	background: black;
}

.splash {
	background: url("../images/splash-background.svg") no-repeat center center fixed;
	background-size: cover;
	min-height: 95vh;
}

.rubik {
	font-family: 'Rubik', sans-serif;
}

.asap {
	font-family: 'Asap', sans-serif;
}

.center {
	text-align: center;
	margin-top: 25px;
}

.large-white {
	color: white;
	font-size: 72px;
}

@media only screen and (max-width: 768px) {
	.large-white {
		color: white;
		font-size: 50px;
	}
}

.catchy {
	margin: 15rem 0 0 0;
	color: white;
}

@media only screen and (max-width: 768px) {
	.catchy {
		margin: 0;
		padding: 0;
		color: white;
	}
}

.home-title {
	padding-top: 190px;
}

@media only screen and (max-width: 768px) {
	.home-title {
		padding-top: 100px;
	}
}

.blue-background {
	background-color: rgb(48, 99, 142);
	min-height: 30vh;
}

/**********************************
google recaptcha
**********************************/

.g-recaptcha {
	margin: 2rem 0;
}


/**********************************
footer styles
**********************************/
.footer {
	padding: 3rem;
	background-color: black;
}

.footer-content-1 {
	font-size: large;
	text-align: center;
}

.footer-content-2 {
	font-size: large;
	text-align: center;
}

.info {
	color: white;
}

.gold {
	color: rgba(250, 175, 58, 1.0);
}

.lineRight {
	border-right: 2px solid gray;
	text-align: center;
	padding: 0;
}

.sfooter {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

.sfooter-content {
	flex: 1 0 auto;
}

/**********************************
home background style
**********************************/
.home {
	/*background: url("../images/customBackground4.svg");
	background-attachment: fixed;
	background-size: cover;*/
	/*background-color: rgba(14, 17, 17, 1.0);*/
	background: -webkit-gradient(linear, 100% 50%, 25% 0%, from(rgba(33, 33, 33, 1.0)), to(#000000));

  /* Safari 5.1, Chrome 10+ */
  background: -webkit-linear-gradient(top, #000000, rgba(33, 33, 33, 1.0));

  /* Firefox 3.6+ */
  background: -moz-linear-gradient(top, #000000, rgba(33, 33, 33, 1.0);

  /* IE 10 */
  background: -ms-linear-gradient(top, #000000, rgba(33, 33, 33, 1.0);

  /* Opera 11.10+ */
  background: -o-linear-gradient(top, #000000, rgba(33, 33, 33, 1.0);

	background-size: cover;
}
